@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{  border:0;
    margin:0;
    padding:0;
}

.body {
    color: whitesmoke;
    font-family: 'Montserrat','sans serif';
}

html, body { 
    height: 100%;

}

/* -------------------------------------------------------------------------------------------- Home index*/

/* Nav bar*/

.fab {
    color: #fafafa;
    margin-right: 0.5em;
    line-height: 40px;
}

.fab:hover {
    color: darkgoldenrod;
}


/* Hero text */
h1 {
    font-size: 120px;
}


h2 {
    font-size: 50px;
}

.btn-explore {
    background-color :darkgoldenrod;
    border : none;
}


/* -------------------------------------------------------------------------------------------- Header*/

/* -------------------------------------------------------------------------------------------- Footer*/



/* -------------------------------------------------------------------------------------------- Destinations*/



/* -------------------------------------------------------------------------------------------- Events*/


/* -------------------------------------------------------------------------------------------- News*/

/* -------------------------------------------------------------------------------------------- Contact */



/* -------------------------------------------------------------------------------------------- media queries*/
