@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{  border:0;
    margin:0;
    padding:0;
}

.body {
    color: #fafafa;
    font-family: 'Montserrat','sans serif';
}

html, body { 
    height: 100%;

}

/* -------------------------------------------------------------------------------------------- Header*/
/* Nav bar */

.nav-bar {
    color: #fafafa;
}

.navbar-brand:hover {
    color : #146A84;
}

.nav-item {
    color: #fafafa;
    font-weight: 200;
    letter-spacing:2px;
    margin-left: 30px;
}

.nav-item:hover {
    color: darkgoldenrod;
    text-decoration: none;
}

.nav-item a.active {
     color: darkgoldenrod !important;
}



/* -------------------------------------------------------------------------------------------- Footer*/


.copyright-style {
    color : #fafafa;
}

.social-links {
    float : right;
    margin-right : 50px;

}

.fab {
    color: #fafafa;
    margin-right: 0.5em;
    letter-spacing: 2px;
    line-height: 40px;
}

.fab:hover {
    color: darkgoldenrod;
}

/* -------------------------------------------------------------------------------------------- Destinations */
/* Hero */


h1 {
    
    color : darkgoldenrod;
    margin: 0;
    -webkit-text-stroke: 1px #fafafa;
    font-size: 200px;
    margin-top : 100px;
}


h2 {
    color: #fafafa;
    -webkit-text-stroke: 1px #fafafa;
    font-size: 400px;
    font-weight: 600;
    margin-top: 50px;
    padding-bottom : 100px;

}

.btn-explore {
    color: #fafafa;
    background-color :darkgoldenrod;
    border : none;
}

.btn-explore:hover {
    color : #fafafa;
    background-color : #146A84;
    border : none;
}

 /* hero image */

 .hero-container-fluid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero-img-holder {
    width: 100%;
    height: 100%;
    background: url(assets/css/images/hero_image.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

/* -------------------------------------------------------------------------------------------- Experiences*/


#mapid { 
    height: 600px; 
    width: 850px; 
    border : 10px, solid, #146A84;
    z-index : 5;

}


/* -------------------------------------------------------------------------------------------- News*/

.news-report {
    color : #fafafa;
    margin-top : 20px;
    margin-right : 20px;
}

.main-article {
    background-color : #146A84;

}


.article-france {
    color: #146A84;
    font-weight: bold;

}

.article-world {
    color: darkgoldenrod;
    font-weight: bold;

}

.reading-france {
    color: #146A84;
    font-weight: bold;
}

.reading-france:hover {
    color: #146A84;
    font-weight: bold;
   
}

.reading-world {
    color: darkgoldenrod;;
    font-weight: bold;
}

.reading-world:hover {
    color: darkgoldenrod;;
    font-weight: bold;
   
}

.article-img{
    border-radius : 2%;
    margin-bottom : 15px;
}


/* zoom report article photo */

.report-img-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius : 2%;

}

.report-img-holder {
    width: 100%;
    height: 100%;
    background: url(assets/css/images/lareunionreport.jpeg);
    border-radius : 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    
}

/* Newsletter */

.newsletter-title {
    color : #146A84;
    font-size: 20px;
}

.badge-newsletter {
    color : #fafafa;
    background-color : #146A84;
    letter-spacing: 2px;
}

.btn-close-popup {
    color : #545B62;
    background-color: #fafafa;
}

.btn-close-popup:hover {
    background-color : #545B62;
    color: #fafafa;
}


/* -------------------------------------------------------------------------------------------- Contact */

.contact-title {
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.contact-text {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.btn-contact{
    color: #fafafa;
    background-color :#545B62;
    border : none;
}

.btn-contact:hover{
    color: #545B62;
    background-color :#fafafa;
    border : none;
}



/* -------------------------------------------------------------------------------------------- media queries*/
