@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{  border:0;
    margin:0;
    padding:0;
}

.body {
    color: #fafafa;
    font-family: 'Montserrat','sans serif';
}

html, body { 
    height: 100%;

}

/* -------------------------------------------------------------------------------------------- Header*/
/* Nav bar */

.nav-bar {
    color: #fafafa;
}

.navbar-brand:hover {
    color : #146A84;
}

.nav-item {
    color: #fafafa;
    font-weight: 200;
    letter-spacing:2px;
    margin-left: 30px;
}

.nav-item:hover {
    color: darkgoldenrod;
    text-decoration: none;
}

.nav-item a.active {
     color: darkgoldenrod !important;
}



/* -------------------------------------------------------------------------------------------- Footer*/


.copyright-style {
    color : #fafafa;
}

.social-links {
    float : left;
    margin-right : 10px;

}

.fab {
    color: #fafafa;
    margin-right: 0.5em;
    letter-spacing: 2px;
    line-height: 40px;
}

.fab:hover {
    color: darkgoldenrod;
}

/* -------------------------------------------------------------------------------------------- Destinations */
/* Hero */


h1 {
    
    color : darkgoldenrod;
    margin: 0;
    -webkit-text-stroke: 1px #fafafa;
    font-size: 600px;
    margin-top : 100px;
}


h2 {
    color: #fafafa;
    font-size: 400px;
    font-weight: 600;
    letter-spacing : 2px;
    margin-top: 50px;
    padding-bottom : 100px;
    display: table; 
    margin: 50px auto 0px auto; 
    padding:5px;font-size:20px;background-color: #146A84;color:#fafafa;opacity:0.8;
    border-radius : 0.5%;
    

}

.destination-item {
    color : #fafafa;
    font-weight: 200;
    letter-spacing : 2px;
    line-height: 25px;
   
}

.destination-item:hover {
    color : #fafafa;
    padding:5px;font-size:20px;background-color: #BEC0C2;color:#fafafa;opacity:0.8;
    text-decoration :none;
    transition: all .4s ease;
    -webkit-transition: all .6s ease;
    border-radius : 2%;
}

.separation-item {
    color :darkgoldenrod;
    font-weight : 500;
}


.btn-explore {
    color: #fafafa;
    background-color :darkgoldenrod;
    border : none;
    margin-top: 60px;
}

.btn-explore:hover {
    color : #fafafa;
    background-color : #146A84;
    border : none;
}

.btn-explore button.active {
    color : #fafafa;
    background-color : #146A84 !important;
    border : none;

}


.btn-contact{
    color: #fafafa;
    background-color :#545B62;
    border : none;
    margin-top: 60px;
}


.btn-contact:hover{
    color: #545B62;
    background-color :#fafafa;
    border : none;
}


 /* hero image */

 .hero-container-fluid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero-img-holder {
    width: 100%;
    height: 100%;
    background: url(assets/css/images/hero_image.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

/* -------------------------------------------------------------------------------------------- Experiences*/


#mapid { 
    height: 600px; 
    width: 900px; 
    margin-left : 20px;
    border-radius : 0.5%;
    position: center;
    z-index : 5;
    display :flex;
    position: relative;

}

.map-style {
    background-color: #D5B881;
    margin-top : 20px;
    padding-top : 30px;
    padding-bottom : 30px;
    padding-right : 30px;
    border-radius :2%;
    display :flex;
    position: relative;
}

.experience-subtext {
    color : #545B62;
    margin-bottom: 50px;
}

.btn-destination {
    color: #fafafa;
    background-color: #146A84;
    opacity: 0.8;

}

.btn-destination:hover {
    color: #fafafa;
    background-color: #146A84;
    opacity: 1;
}




/* -------------------------------------------------------------------------------------------- News*/

.news-report {
    color : #fafafa;
    margin-top : 20px;
    margin-right : 20px;
}

.main-article {
    background-color : #146A84;
    border-radius : 0.5%;

}


.article-france {
    color: #146A84;
    font-weight: bold;

}

.article-world {
    color: darkgoldenrod;
    font-weight: bold;

}

.reading-france {
    color: #146A84;
    font-weight: bold;
}

.reading-france:hover {
    color: #146A84;
    font-weight: bold;
   
}

.reading-world {
    color: darkgoldenrod;;
    font-weight: bold;
}

.reading-world:hover {
    color: darkgoldenrod;;
    font-weight: bold;
   
}

.article-img{
    border-radius : 2%;
    margin-bottom : 15px;
    position: inherit;
}


/* zoom report article photo */

.report-img-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius : 2%;

}

.report-img-holder {
    width: 100%;
    height: 100%;
    background: url(assets/css/images/lareunionreport.jpeg);
    border-radius : 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
    
}

/* Newsletter */

.newsletter-title {
    color : #146A84;
    font-size: 20px;
}

.badge-newsletter {
    color : #fafafa;
    background-color : #146A84;
    letter-spacing: 2px;
}

.btn-ignore {
    color : #545B62;
    background-color: #fafafa;
}

.btn-ignore:hover {
    background-color : #545B62;
    color: #fafafa;
}


/* -------------------------------------------------------------------------------------------- Contact */

.contact-title {
    margin-top: 100px;
    position: relative;
    text-align: center;
}

.contact-text {
    color : #146A84;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}



.contact-img{
    max-width:100% ;
    height:auto;
    margin-top :20px;
    margin-right : 20px;
    border-radius:0.5%;
}

.form-title {
    color : #146A84;
    font-weight: 400;
}

.form-control{
    font-size: small;
}


.fa-quote-left{
    color : #146A84;

}

.fa-quote-right {
    color : #146A84;
}